<html>
<head>
	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=start"></script>
	<script src="static/oauth_scripts.js"></script>
	<link rel="stylesheet" href="static/styles.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "row">
			<div class = "col-md-12 text-right bg-warning">
			<h1 style = "text-align:center;"> Welcome to the {{category.title}} Page! </h1>
			<p style = "margin-top:-50; margin-right:25"><span class="g-signin"
              data-scope="openid email"
              data-clientid="688649985311-1jjt7iqete0jjr8lcnbg5snjn5r4ck3h.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="auto">
            </span></p>
            <p style ="margin-right:25"><fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
			<a href='javascript:sendTokenToServer()'>Login with Facebook</a></fb:login-button></p>
		</div>
	</div>
		</div>
	</div>
   	<div>
   		{% with messages = get_flashed_messages() %}
   		{% if messages %}
   		<ul>
   			{% for message in messages %}
 		 		<li><strong>{{message}}</strong></li>
 	 		{% endfor %}
 	 	</ul>
 	 	{% endif %}
 	 	{% endwith %}
 	 	<br>
 	 	<div class = "col-md-12 text-center">
    	<a href =  "{{url_for('showHome')}}"> <button class="btn btn-warning">Back to HomePage</button> </a>
      </div>
 	 	<br>
 	 	<br>
 	 	<br>
	<div>
		{% for i in items %}
		<div class = "col-md-2 text-center">
			<div style="border:5px solid green; padding-top:15">
		<figure>
			<a href="{{url_for('itemPage', itemID = i.id, categoryID = category.id)}}">
				<img src="{{i.picture}}" style = "height:100px">
			</a>
			<figcaption>
				<b style="color:blue">{{i.name}}</b>
			</figure>
		</div>
	</div>
		{% endfor %}
	</div>


<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
          setTimeout(function() {
            window.location.href = "{{url_for('loggedinCategoryPage', categoryID = category.id)}}";
          }, 0);
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      },
      error: function(result) {
        console.log('There was an error: ' + result);
      }
      
  }); } }
</script>

<!--FACEBOOK-->
	<div class="logmod__alter-container" style="margin-top:150px;margin-left:auto; margin-right:auto; width:250px">
        <script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '769331483165927',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "{{url_for('loggedinCategoryPage', categoryID = category.id)}}";
         }, 0);
          
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>



</body>
</html>